body {
    background-image: url(../images/pattern-bg.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.wrapper-div {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

main {
    display: flex;

    align-items: center;
}

.content {
    margin-right: 30px;
}


#candidate-word {
    font-size: 32px;
    color: hsl(240, 38%, 20%);
    font-weight: 100;
    text-align: justify;
}

#name {
    font-weight: bolder;
    font-size: 20px;
    color: hsl(240, 38%, 20%);
}

#position {
    font-weight: 300;
    font-size: 20px;
    color: hsl(240, 18%, 77%);
    margin-left: 10px;
}


.images-section {
    position: relative;
}

#candidate-img {

    img {
        width: 100%;
    }
}


.btns {
    height: 50px;
    width: 110px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -18px;
    left: 80px;

    button {
        border: none;
        background-color: white;
    }
}

.pattern-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pattern-img-2 {
    display: block;
    position: absolute;
    top: 90px;
    left: 105px;
}

.pattern-img-2-mob {
    display: none;
}

@media(min-width:786px)and(max-width:1020px) {
    main {
        flex-direction: column-reverse;
    }

    .content {
        margin-top: 150px;
    }

    .btns {
        left: 200px;
    }

    .pattern-img-2 {
        display: none;
    }

    .pattern-img-2-mob {
        display: block;
        position: absolute;
        bottom: 220px;
        left: 200px;
    }
}

